@value cTitle, cBody from '../../common/font.css';
@value cBlack, clGrey, cRed, clRed, cWhite, cYellow from '../../common/color.css';
@value cMiddle from '../../common/size.css';

.wrap {
  width: 40%;
  padding: 1em 2em 0;
}

.wrap .lignt {
  background: cWhite;
}
.wrap .dark {
  background: cBlack;
}
.wrap .yellow {
  background: cYellow;
}

.title {
  font-size: 2em;
  margin: 0.5em 0;
}

.time_table {
  background: cWhite;
  width: 100%;
  padding: 1em;
  margin-bottom: 0.8em;
  border: 1.5px solid cBlack;
}

.time_table h3 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid cBlack;
}

.list li {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-family: cBody;
  padding: 0.7em 0;
  border-bottom: 1px solid cBlack;
}

.list li:last-child {
  border-bottom: 0;
}

.list input {
  margin-right: 0.5em;
}
.list label {
  flex: 1;
  text-align: start;
  font-weight: bold;
}
.list span {}

.total {
  border-top: 2px solid cBlack;
  padding-top: 0.5em;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
.total p {}
.total span {}

.wrap em {
  font-style: normal;
  font-family: cBody;
  font-size: 0.8em;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.theme span {
  margin-right: 1em;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}
.theme input {
  display: none;
}
.theme input[type=radio]+label {
  border: 1px solid cBlack;
  padding: 0.5em 0.7em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  font-family: cBody;
  font-size: 0.8em;
}
.theme input[type=radio]+label:hover {
  background: cYellow;
}
.theme input[type=radio]+label:last-child {
  margin-right: 0;
}

.theme input[type=radio]:checked+label{
  background: cYellow;
  font-weight: bold;
}

@media screen and (max-width: cMiddle) {
.wrap {
width: 100%;
padding-bottom: 3.5em;
}
}