@value cTitle, cBody from '../../common/font.css';
@value cBlack, cWhite, clGrey, cGrey, cRed, clRed, cYellow from '../../common/color.css';



.list {
  background: cYellow;
  padding: 1em;
  border: 1.5px solid cBlack;
}

.list li {
  font-family: cBody;
  letter-spacing: 1px;
  border: 1.5px solid cBlack;
  background: cWhite;
  display: flex;
  text-align: start;
  padding: 0 0.5em;
  margin: 0.5em 0;
}

.list p {
  flex: 1;
  font-weight: bold;
  padding: 0.5em 0;
}
.list span {
  padding: 0 0.5em;
  padding: 0.5em 0;
}
.list button {
  all: unset;
  font-size: 0.5em;
  margin-left: 1em;
  border-left: 1px solid cBlack;
  padding-left: 1em;
}
.list button:hover {
  color: cRed;
  font-weight: bold;
}