@value cTitle, cBody from '../../common/font.css';
@value cBlack, cWhite, clGrey, cGrey, cRed, clRed, cYellow from '../../common/color.css';

.list {
  font-family: cBody;
  letter-spacing: 1px;
  border: 1.5px solid cBlack;
  background: cWhite;
  display: flex;
  text-align: start;
  padding: 0 0.5em;
  margin: 0.5em 0;
}

.edit_form {
  display: flex;
  width: 100%;
}

.edit_form select {
  border: none;
  border-right: 1px solid cBlack;
  font-family: cBody;
}

.edit_form input[type="text"] {
  border: none;
  flex: 1;
}
.edit_form input[type="number"] {
  border: none;
  width: 3.5em;
}

.edit_form input,
.edit_form button {
  font-family: cBody;
  font-size: 1em;
  padding: 0.5em;
}

.edit_form select:focus,
.edit_form input:focus {
  outline: none;
  font-weight: bold;
}

.list p {
  flex: 1;
  font-weight: bold;
  padding: 0.5em 0;
}
.list span {
  padding: 0 0.5em;
  padding: 0.5em 0;
}

.hour {
  margin-right: 0.3em;
}
.list button {
  all: unset;
  font-size: 0.5em;
  margin-left: 1em;
  border-left: 1px solid cBlack;
  padding-left: 1em;
}
.list button:hover {
  color: cRed;
  font-weight: bold;
}