@value cTitle, cBody from '../../common/font.css';
@value cBlack, clGrey, cWhite, cGrey, cRed, clRed, cYellow from '../../common/color.css';
@value cMiddle from '../../common/size.css';

.routine_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1em 0 2em;
}


.topic {
  margin-bottom: 1em;
  display: flex;
}

.topic li {
  border: 1px solid cBlack;
  margin-right: 0.5em;
  width: 2.5em;
  line-height: 2.5em;
  text-align: center;
  background: cYellow;
  font-family: cBody;
}

.topic li:last-child {
  margin-right: 0;
}

.topic input[type=radio] {
  display: none;
}

.topic input[type=radio]+label {
  display: block;
  width: 100%;
  height: 100%;
}
.topic input[type=radio]+label:hover, 
.topic input[type=radio]:checked+label {
  background: cRed;
  color: cWhite;
}



.topic button {
  border: none;
  font-family: inherit;
  transition: all 150ms ease-in;
  background: cYellow;
}
.topic button:hover {
  background: cRed;
}

.topic_active {
  background: cRed;
  color: clGrey;
}

.input {
  display: flex;
  width: 100%;
}
.todo,
.time {
  font-family: cBody;
  font-size: 1em;
  padding: 0.5em;
  background: cWhite;
  border: none;
  border-bottom: 2px solid cBlack;
  border-top: 2px solid cBlack;
}
.todo {
  width: 90%;
  border-left: 2px solid cBlack;
  border-right: 2px solid cBlack;
}
.time {
  width: 4em;
}

.todo:focus,
.time:focus {
  outline: none;
  background-color: cYellow;
}

.add_btn {
  all: unset;
  padding: 0.5em;
  background: cBlack;
  color: clGrey;
  border: 2px solid cBlack;
}