@value cTitle, cBody from '../../common/font.css';
@value cBlack, cWhite, clGrey, cGrey, cRed, clRed, cYellow from '../../common/color.css';

.tab {
  padding: 0.3em 0;
}
.tab input[type=radio]{
  display: none;
}

.tab input[type=radio]+label{
  background: cGrey;
  padding: 0.3em 0.8em;
  border-radius: 0.8em 0.8em 0 0;
  margin-right: 0.3em;
  border: 1.5px solid cBlack;
  border-bottom: none;
}

.tab input[type=radio]+label:hover {
  background: cYellow;
}

.tab input[type=radio]:checked+label {
  position: relative;
  background: cYellow;
}

.tab input[type=radio]:checked+label::after {
  content: '';
  width: 100%;
  height: 4px;
  background: cYellow;
  position: absolute;
  left: 0;
  bottom: -3px;
}