@value cTitle, cBody from '../../common/font.css';
@value cBlack, cWhite, clGrey, cGrey, cRed, clRed, cYellow from '../../common/color.css';

.tab {
  background: cGrey;
}

.tab_active {
  position: relative;
  background: cYellow;
  border: 1.5px solid cBlack;
  border-bottom: none;
}

.tab_active::after {
  content: '';
  width: 100%;
  height: 4px;
  background: cYellow;
  position: absolute;
  left: 0;
  bottom: -3px;
}