@value cTitle, cBody from '../../common/font.css';
@value cBlack, clGrey, cRed, clRed from '../../common/color.css';
@value cMiddle from '../../common/size.css';

.wrap {
  width: 95vw;
  border: 2px solid cBlack;
  font-family: cTitle;
}

.content {
  display: flex;
  height: 100%;
  text-align: center;
}

@media screen and (max-width: cMiddle) {
  .wrap {
    margin-top: 6em;
  }
  .content {
    flex-direction: column;
  }
}