@value cTitle, cBody from '../../common/font.css';
@value cBlack, clGrey, cGrey, cRed, clRed, cYellow from '../../common/color.css';
@value cMiddle from '../../common/size.css';

.wrap {
  width: 60%;
  padding: 1em 2em 3em;
  border-right: 2px solid cBlack;
}

.title {
  font-size: 2em;
  margin: 0.5em 0;
}

.tabs {
  display: flex;
}

.list {
  background: cYellow;
  padding: 1em;
  border: 1.5px solid cBlack;
}

@media screen and (max-width: cMiddle) {
  .wrap {
    width: 100%;
    border-right: 0;
    border-bottom: 2px solid cBlack;
    padding-bottom: 3.5em;
  }
}
