* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  color: inherit;
}

body {
  background: #f6f2f1;
}

@media screen and (max-width: 50rem) {
  body {
    align-items: flex-start
  }
}